*{
  margin: auto;
}
button{
  cursor: pointer;
}
.App {
  text-align: center;
  background-color: darkgoldenrod;
}
video{
  margin-bottom: 30px;
  margin-top: 30px;
}
.movie{
  background-color: chocolate;
}
.App button{
  width: 10%;
  height: 40px;
  font-size: large;
  font-weight: bolder;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.navBar ul{
  display: flex;
}
.navBar img{
  width: 8%;
  margin-right: 5px;
}
li{
  list-style: none;
}
.home p{
  position: absolute;
  top: 30%;
  left: 43%;
  font-size: xx-large;
  font-weight: bolder;
}
.header{
  background-color: aqua;
  height: 120px;
}
.main{
  background-color: brown;
}
.listPicture img{
  width: 50%;
}
.listPicture p{
  font-size: xx-large;

}
.footer{
  background-color: chocolate;
  height: 120px;
}
a{
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
